.description {
  font-weight: 400;
  color: #818589;
  font-size: 0.9em;
}
.links {
  padding: 10px;
}
.logo-header {
  margin: 20px 0px 30px 0px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
}
.categories > * {
  min-width: 120px;
  margin-bottom: 10px;
}

/* Responsive */

@media only screen and (min-width: 640px) {
  .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 0.75em 0.5em 0.5em;
  }
  .logo-header {
    margin: 30px;
    width: 25%;
  }
  .categories {
    margin: 40px;
  }
}
