#description {
  resize: none;
}
.form > form {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}
.form {
  padding: 1.5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.2em;
}
.title {
  padding: 0.75em;
}
.title > h3 {
  font-weight: 400;
  color: gray;
  font-size: 1em;
}
.form > form > input,
textarea {
  border: 2px solid #f0f0f0;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.3em;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
}
.form > form > button[type="submit"] {
  background: #475467;
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 12px;
  font-kerning: 1%;
  cursor: pointer;
}
.form > form > label {
  font-size: 13px;
  color: #171e2e;
  margin-bottom: 5px;
}
.form > form > input::placeholder,
textarea::placeholder {
  color: #171e2e;
  font-family: "Outfit", sans-serif;
}

.form > form > textarea {
  resize: none;
  height: 100px;
}
.services > label {
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  color: #818589;
  padding-right: 0.25em;
  margin-right: 1em;
  width: 45%;
  margin-bottom: 1em;
}
.services > input[type="checkbox"] {
  outline: none;
}
.services {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
#toc {
  margin-top: 1em;
  color: #818589;
}
