#description {
  resize: none;
}
.form > form {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  max-width: 400px;
}
.form {
  padding: 1.5em 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.2em;
}
.title {
  padding: 0.75em;
  max-width: 400px;
}
.title > h3 {
  font-weight: 400;
  color: gray;
  font-size: 1em;
}
.form > form > .input > input,
textarea {
  border: 2px solid #f0f0f0;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}
.form > form > .input {
  margin-bottom: 1.3em;
}
.form > form > button[type="submit"] {
  background: #475467;
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 13px;
  font-kerning: 1%;
  cursor: pointer;
}
.form > form > button[type="submit"]:disabled {
  background: #f0f0f0;
  color: #475467;
  cursor: not-allowed;
}
.form > form > .input > label {
  font-size: 14px;
  color: #171e2e;
  margin-bottom: 5px;
}
.form > form > .input > input::placeholder,
textarea::placeholder {
  color: #171e2e;
  font-family: "Outfit", sans-serif;
}

.form > form > .input > textarea {
  resize: none;
  height: 100px;
}
.input {
  display: flex;
  flex-direction: column;
}
.services > label {
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  color: #818589;
  padding-right: 0.25em;
  margin-right: 1em;
  min-width: 130px;
  margin-bottom: 1em;
}
.services > input[type="checkbox"] {
  outline: none;
}
.services {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}
#toc {
  font-size: 14px;
  color: #171e2e;
  margin-bottom: 5px;
  margin-top: 1em;
  color: #818589;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 0.5em;
}

.red-error {
  color: white !important;
  background: #cc0000 !important;
}
.success {
  color: white !important;
  background: #4bb543 !important;
}
/* Responsive */

@media only screen and (min-width: 640px) {
  .form {
    padding: 2em 2em;
  }
  h1 {
    font-size: 2.5em;
  }
}
