html,
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-kerning: 1%;
}
* {
  box-sizing: border-box;
}
.nav {
  border-bottom: 1px solid #f0f0f0;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}
.links {
  background: #f4f7fc;
}
